---
import { Icon } from "astro-icon/components";
import { SITE } from "~/utils/config";
import { getHomePermalink } from "~/utils/permalinks";
import Logo from "~/components/Logo.astro";
import Image from "~/components/common/Image.astro";
import fb from "~/assets/images/fb.png";
import ig from "~/assets/images/ig.png";
import Button from "~/components/ui/Button.astro";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const {
  socialLinks = [],
  secondaryLinks = [],
  links = [],
  footNote = "",
  theme = "light",
} = Astro.props;
---

<footer class:list={[{ dark: theme === "dark" }, "relative not-prose"]}>
  <!--
  <div class="dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative mx-auto dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a href={getHomePermalink()}>
            <Logo />
          </a>
        </div>

    <div class="text-sm text-right dark:text-muted">
      <h1>Copyright 2024 @ Munch Industries</h1>
    </div>

    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
    </div>
  </div>
-->
  <div class="w-full h-[4px] bg-black"></div>

  <div class="threebyone mb-20">
    <div>
      <a href={getHomePermalink()}>
        <Logo />
      </a>
    </div>
    <div class="col-span-2 flex justify-end h-[10%]">
      <a
        href="#"
        class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-8 inline-flex items-center"
      >
        Home</a
      >
      <a
        href="#"
        class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-8 inline-flex items-center"
      >
        Products</a
      >
      <a
        href="#"
        class="text-muted dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-8 inline-flex items-center"
      >
        About Us</a
      >
      <Button text="Contact" class="dark-button-class p-8" />
    </div>
    <div class="inline-flex gap-6">
      <Image src={ig} alt="Instagram" width={40} />
      <Image src={fb} alt="Facebook" width={40} />
    </div>
    <div></div>
    <div class="text-gray-800 flex justify-end items-center">
      Copyright 2024 @ Munch Industries
    </div>
  </div>
</footer>
