---
import { Icon } from "astro-icon/components";
import Logo from "~/components/Logo.astro";
import ToggleMenu from "~/components/common/ToggleMenu.astro";
import Button from "~/components/ui/Button.astro";

import { getHomePermalink } from "~/utils/permalinks";
import { trimSlash, getAsset } from "~/utils/permalinks";
import type { CallToAction } from "~/types";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends CallToAction {}

interface MenuLink extends Link {
  links?: Array<MenuLink>;
}

export interface Props {
  id?: string;
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  isDark?: boolean;
  isFullWidth?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
}

const {
  id = "header",
  links = [],
  actions = [],
  isSticky = false,
  isDark = false,
  isFullWidth = false,
  showToggleTheme = false,
  showRssFeed = false,
  position = "center",
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    "-top-8 z-40 mx-auto w-full flex-none border-b border-gray-50/0 font-serif transition-[opacity] ease-in-out",
  ]}
  {...isSticky ? { "data-aw-sticky-header": true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div
    class="h-32 w-full bg-white bg-opacity-40 backdrop-blur-xl"
    style="position: absolute; top: 0; z-index: -100;"
  >
  </div>
  <div
    class="relative mx-auto w-full text-default lg:flex lg:justify-between lg:px-6"
  >
    <div
      class:list={[
        { "mr-auto rtl:ml-auto rtl:mr-0": position === "right" },
        "flex justify-between",
        "ml-28",
        "pt-14",
      ]}
    >
      <a class="flex items-center" href={getHomePermalink()}>
        <Logo />
      </a>
      <div class="mr-5 flex justify-center lg:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="hidden w-full items-center overflow-y-auto overflow-x-hidden text-default lg:mx-5 lg:flex lg:w-auto lg:overflow-x-auto lg:overflow-y-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col text-xl font-medium tracking-[0.01rem] lg:w-auto lg:flex-row lg:self-center lg:text-[0.9375rem]"
      >
        {
          links.map(({ text, href, links }) => (
            <li class={links?.length ? "dropdown" : ""}>
              {links?.length ? (
                <>
                  <button class="hover:text-link flex items-center px-4 py-3 text-xl font-bold dark:hover:text-white">
                    {text}{" "}
                    <Icon
                      name="tabler:chevron-down"
                      class="ml-0.5 hidden h-3.5 w-3.5 lg:inline rtl:ml-0 rtl:mr-0.5"
                    />
                  </button>
                  <ul class="dropdown-menu dark:lg:bg-dark rounded pl-4 font-medium drop-shadow-xl lg:absolute lg:hidden lg:min-w-[200px] lg:bg-white/90 lg:pl-0 lg:backdrop-blur-md">
                    {links.map(({ text: text2, href: href2 }) => (
                      <li>
                        <a
                          class:list={[
                            "hover:text-link whitespace-no-wrap block px-5 py-2 first:rounded-t last:rounded-b dark:hover:bg-gray-700 dark:hover:text-white lg:hover:bg-gray-100",
                            { "aw-link-active": href2 === currentPath },
                          ]}
                          href={href2}
                        >
                          {text2}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : (
                <a
                  class:list={[
                    "hover:text-link items-centers flex px-4 py-3 text-xl font-bold no-underline dark:hover:text-white",
                    { "aw-link-active": href === currentPath },
                  ]}
                  href={href}
                >
                  {text}
                </a>
              )}
            </li>
          ))
        }
      </ul>
    </nav>

    <div
      class:list={[
        { "ml-auto rtl:ml-0 rtl:mr-auto": position === "left" },
        "fixed bottom-0 left-0 hidden w-full items-center justify-end p-3 lg:static lg:mb-0 lg:flex lg:w-auto lg:self-center lg:p-0 rtl:left-auto rtl:right-0",
      ]}
    >
      <div class="flex w-full items-center justify-between lg:w-auto">
        {
          actions?.length ? (
            <span class="ml-4 mr-28 rtl:ml-0 rtl:mr-4">
              {actions.map((btnProps) => (
                <Button
                  {...btnProps}
                  class="munch-btn px-5.5 ml-2 h-[65px] w-[165px] bg-[#214260] py-2.5 text-xl font-bold no-underline shadow-none hover:no-underline lg:px-6"
                />
              ))}
            </span>
          ) : (
            ""
          )
        }
      </div>
    </div>
  </div>
</header>
