---
import Layout from "~/layouts/PageLayout.astro";
import Image from "~/components/common/Image.astro";

import contactTitle from "~/assets/images/contact-title.png";

const metadata = {
  title: "Contact",
};

let log =
  "Fill out the contact form below for inquiries, partnership opportunities, and/or customer support!";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const firstName = data.get("FirstName");
    const lastName = data.get("LastName");
    const phoneNumber = data.get("PhoneNumber");
    const email = data.get("Email");
    const subject = data.get("Subject");
    const message = data.get("Message");

    const content = `First Name: ${firstName}\nLast Name: ${lastName}\nPhone Number: ${phoneNumber}\nEmail: ${email}\n\nSubject: ${subject}\n\nMessage: ${message}`;

    const emailData = {
      personalizations: [
        {
          to: [
            {
              email: "info@orble-tea.com",
            },
          ],
        },
      ],
      from: {
        email: "info@orble-tea.com",
        name: firstName + " " + lastName,
      },
      content: [
        {
          type: "text",
          value: content,
        },
      ],
      subject: "Customer Inquiry Form Submission: " + subject,
      "reply-to": email,
    };

    const response = await fetch(`${Astro.url.origin}/api/send-email`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(emailData),
    });
    console.log(response.status, response.statusText);
    if (!response.ok) {
      console.log(await response.json());
      throw new Error("An error occurred while sending the email.");
    }
    log = "Form submitted successfully!";
  } catch (error) {
    console.error(error);
    log = "An error occurred while submitting the form.\nPlease try again.";
  }
}
---

<script src="https://smtpjs.com/v3/smtp.js"></script>
<Layout metadata={metadata}>
  <div id="header" class="flex flex-col flex-shrink-0 items-center">
    <div class="contact-bg h-[273px] w-full flex justify-center">
      <Image
        src={contactTitle}
        alt="Get In Touch"
        width="692px"
        height="71px"
        class="mt-[136px]"
      />
    </div>
  </div>

  <div
    id="form-container"
    class="bg-contact-form h-[981px] w-[1440px] font-serif mx-auto -mb-[3px]"
  >
    <div class="flex justify-center">
      <h1 class="w-[815px] contact-subtitle font-serif mt-[71px]">
        {log}
      </h1>
    </div>

    <div id="form" class="flex justify-center mt-[71px]" style="">
      <div class="bg-white rounded-md w-[710px] p-[65px] contact-form">
        <form method="POST">
          <div id="textinputs">
            <div class="flex mb-[45px]">
              <div>
                <label for="FirstName" class="contact-label"> First Name</label>
                <input
                  type="text"
                  name="FirstName"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
              <div>
                <label for="LastName" class="contact-label"> Last Name</label>
                <input
                  type="text"
                  name="LastName"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
            </div>
            <div class="flex mb-[45px]">
              <div>
                <label for="Email" class="contact-label"> Email</label>
                <input
                  type="text"
                  name="Email"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
              <div>
                <label for="PhoneNumber" class="contact-label">
                  Phone Number
                </label>
                <input
                  type="text"
                  name="PhoneNumber"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
            </div>
          </div>

          <div id="subject-select" class="mt-4 mb-[45px]">
            <label for="subject" class="contact-label"> Select Subject</label>

            <div id="radio-buttons" class="flex mt-[14.63px]">
              {
                [
                  "General Inquiry",
                  "Partnerships",
                  "Customer Support",
                  "Other",
                ].map((subject) => (
                  <>
                    <input
                      type="radio"
                      id={subject.toLowerCase().replace(/\s/g, "-")}
                      name="Subject"
                      value={subject.toLowerCase().replace(/\s/g, "-")}
                      class="mr-[10px]"
                    />
                    <label
                      for={subject.toLowerCase().replace(/\s/g, "-")}
                      class="text-sm mr-[17px]"
                    >
                      {subject}
                    </label>
                  </>
                ))
              }
            </div>
          </div>

          <div class="flex flex-col my-[45px]">
            <label for="message" class="contact-label"> Message</label>
            <input
              type="text"
              name="Message"
              id="message"
              placeholder="Write your message..."
              class="border-b-2 border-gray-300 w-[595px] contact-input pb-[10px] placeholder-[#BDBDBD]"
            />
          </div>

          <div class="flex justify-end mb-[55px]">
            <button class="contact-btn font-serif bg-[#214260]"
              >SEND MESSAGE</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</Layout>
