---
import Layout from "~/layouts/PageLayout.astro";
import HeroText from "~/components/widgets/HeroText.astro";
import ContactUs from "~/components/widgets/Contact.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Content from "~/components/widgets/Content.astro";
import Image from "~/components/common/Image.astro";

import contactTitle from "~/assets/images/contact-title.png";
import contactBar from "~/assets/images/lines/contact-bar.png";
import Button from "~/components/ui/Button.astro";

const metadata = {
  title: "Contact",
};

const textInputs = [
  { name: "firstname", label: "First Name" },
  { name: "lastname", label: "Last Name" },
  { name: "phone", label: "Phone Number" },
  { name: "email", label: "Email" },
];
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->
  <div id="header" class="flex flex-col items-center">
    <div class="contact-bg h-56 w-full flex justify-center">
      <Image
        src={contactTitle}
        alt="Get In Touch"
        width="700em"
        class="mt-28"
      />
    </div>

    <!-- <Image src={contactBar} alt="bar" class="mt-6" width={1200} /> -->
  </div>

  <div id="form-container" class="bg-contact-form h-[1962px]">
    <div class="flex justify-center">
      <h1>
        Fill out the form below for inquiries, partnership opportunities, and/or
        customer support!
      </h1>
    </div>

    <div id="form" class="flex justify-center p-8">
      <form action="" class="border-red-700 border-2 rounded-md shadow-lg">
        <div class="grid grid-cols-2 gap-4">
          {
            textInputs.map(({ name, label }) => (
              <div class="flex flex-col m-4 ">
                <label for={name} class="text-sm">
                  {label}
                </label>
                <input
                  type="text"
                  name={name}
                  id={name}
                  class="border-b-2 border-gray-300 w-64"
                />
              </div>
            ))
          }
        </div>

        <label for="subject" class="text-lg"> Subject </label>

        <div id="radio-select" class="flex justify-between">
          {
            ["Partnerships", "Inquiry", "Customer Support", "Other"].map(
              (subject) => (
                <>
                  <input
                    type="radio"
                    id={subject.toLowerCase().replace(/\s/g, "-")}
                    name="subject"
                    value={subject.toLowerCase().replace(/\s/g, "-")}
                    class="mr-2"
                  />
                  <label for={subject.toLowerCase().replace(/\s/g, "-")}>
                    {subject}
                  </label>
                </>
              )
            )
          }
        </div>

        <label for="message" class="text-lg"> Message </label>
        <input
          type="text"
          name="message"
          id="message"
          class="border-b-2 border-gray-300 p-2 w-64"
        />

        <div class="flex justify-end">
          <button
            type="submit"
            class="dark-button-class bg-[#214260] rounded-[5px] border-black border-[3px] text-white uppercase"
            >Send Message</button
          >
        </div>
      </form>
    </div>
  </div>

  <ContactUs
    title="Drop us a message today!"
    subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
    inputs={[
      {
        type: "text",
        name: "name",
        label: "Name",
      },
      {
        type: "email",
        name: "email",
        label: "Email",
      },
    ]}
    textarea={{
      label: "Message",
    }}
    disclaimer={{
      label:
        "By submitting this contact form, you acknowledge and agree to the collection of your personal information.",
    }}
    description="Our support team typically responds within 24 business hours."
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: "General support",
        description: `Chat with us for inquiries related to account management, website navigation, payment issues, accessing purchased templates or general questions about the website's functionality.`,
      },
      {
        title: "Contact sales",
        description:
          "Chat with us for questions about purchases, customization options, licensing for commercial use, inquiries about specific template, etc.",
      },
      {
        title: "Technical support",
        description:
          "Chat with us when facing issues like template installation, problems editing difficulties, compatibility issues with software or download errors, or other technical challenges related to using the templates.",
      },
      {
        title: "Phone",
        description: "+1 (234) 567-890",
        icon: "tabler:headset",
      },
      {
        title: "Email",
        description: "contact@support.com",
        icon: "tabler:mail",
      },
      {
        title: "Location",
        description: "1234 Lorem Ipsum St, 12345, Miami, EEUU",
        icon: "tabler:map-pin",
      },
    ]}
  />
</Layout>
