---
import Layout from "~/layouts/PageLayout.astro";
import Image from "~/components/common/Image.astro";
import dots from "~/assets/images/bg-design/contact-header-bg.png";

import contactTitle from "~/assets/images/contact-title.png";

const metadata = {
  title: "Contact",
};

let log =
  "Fill out the contact form below for inquiries, partnership opportunities, and/or customer support!";

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData();
    const firstName = data.get("FirstName");
    const lastName = data.get("LastName");
    const phoneNumber = data.get("PhoneNumber");
    const email = data.get("Email");
    const subject = data.get("Subject");
    const message = data.get("Message");

    const content = `First Name: ${firstName}\nLast Name: ${lastName}\nPhone Number: ${phoneNumber}\nEmail: ${email}\n\nSubject: ${subject}\n\nMessage: ${message}`;

    const emailData = {
      personalizations: [
        {
          to: [
            {
              email: "info@orble-tea.com",
            },
          ],
        },
      ],
      from: {
        email: "info@orble-tea.com",
        name: firstName + " " + lastName,
      },
      content: [
        {
          type: "text",
          value: content,
        },
      ],
      subject: "Customer Inquiry Form Submission: " + subject,
      "reply-to": email,
    };

    const response = await fetch(`${Astro.url.origin}/api/send-email`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(emailData),
    });
    console.log(response.status, response.statusText);
    if (!response.ok) {
      console.log(await response.json());
      throw new Error("An error occurred while sending the email.");
    }
    log = "Form submitted successfully!";
  } catch (error) {
    console.error(error);
    log = "An error occurred while submitting the form.\nPlease try again.";
  }
}
---
<style>

  .contact-subtitle {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
  letter-spacing: 1.92px;
  }

  .contact-label {
    color: #1A2634;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-family: Lato;
  }

  @media (min-width: 1024px) {
    .bg-contact-form{
      background-image: url("../assets/images/bg-design/contact-form-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
  

  .contact-form {
    border-radius: 10px;
    background: white;
    box-shadow: 6px 6px 5px 3px rgba(0, 0, 0, 0.3);
  }

  .contact-input {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    font-family: var(--aw-font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }

  .contact-label {
    font-family: var(--aw-font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: 600;
  }
</style>
<Layout metadata={metadata}>
  <div
    id="header"
    class="flex flex-col items-center flex-shrink-0 bg-[#214260] w-full h-[310px]"
  >
    <Image
      src={dots}
      alt="dots"
      style={`max-width: 100%; height: 100%;`}
    />
    <Image
      src={contactTitle}
      alt="Get In Touch"
      width="692px"
      height="71px"
      class="absolute mt-[136px]"
    />
  </div>

  <div id="form-container" class="bg-contact-form bg-gradient-to-b from-[#214260] to-white border-t-[#acc6dd] border-t-4 lg:border-none font-serif pb-32" >
    <div class="flex justify-center">
      <h1 class="w-[815px] contact-subtitle font-serif mt-[71px] mx-8 text-white lg:text-[#1A2634]">
        {log}
      </h1>
    </div>

    <div id="form" class="flex justify-center mt-[71px]">
      <div class="bg-white rounded-md w-[80%] lg:w-[48%] contact-form p-10">
        <form method="POST">
          <div id="textinputs">
            <div class="flex mb-[45px]">
              <div>
                <label for="FirstName" class="contact-label"> First Name</label>
                <input
                  type="text"
                  name="FirstName"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
              <div>
                <label for="LastName" class="contact-label"> Last Name</label>
                <input
                  type="text"
                  name="LastName"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
            </div>
            <div class="flex mb-[45px]">
              <div>
                <label for="Email" class="contact-label"> Email</label>
                <input
                  type="text"
                  name="Email"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
              <div>
                <label for="PhoneNumber" class="contact-label">
                  Phone Number
                </label>
                <input
                  type="text"
                  name="PhoneNumber"
                  class="border-b-2 border-gray-300 w-[278px] mr-[39px] contact-input"
                />
              </div>
            </div>
          </div>

          <div id="subject-select" class="mt-4 mb-[45px]">
            <label for="subject" class="contact-label"> Select Subject</label>

            <div id="radio-buttons" class="flex max-sm:flex-col justify-between flex-wrap mt-4">
              {
                [
                  "General Inquiry",
                  "Partnerships",
                  "Customer Support",
                  "Other",
                ].map((subject) => (
                  <div>
                    <input
                      type="radio"
                      id={subject.toLowerCase().replace(/\s/g, "-")}
                      name="Subject"
                      value={subject.toLowerCase().replace(/\s/g, "-")}
                      class="mr-[10px]"
                    />
                    <label
                      for={subject.toLowerCase().replace(/\s/g, "-")}
                      class="text-sm mr-[17px]"
                    >
                      {subject}
                    </label>
                  </div>
                ))
              }
            </div>
          </div>

          <div class="flex flex-col my-[45px]">
            <label for="message" class="contact-label"> Message</label>
            <input
              type="text"
              name="Message"
              id="message"
              placeholder="Write your message..."
              class="border-b-2 border-gray-300 w-full contact-input pb-[10px] mt-3 placeholder-[#BDBDBD]"
              maxlength="500"
            ></textarea>
          </div>

          <div class="flex justify-end mb-2">
            <button class="munch-btn font-serif bg-[#214260]"
              >SEND MESSAGE</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</Layout>
